<a href="https://colab.research.google.com/github/19PA1A05B3/Coursera_Capstone/blob/master/Final_Assignment_part_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Segmenting and Clustering Neighbourhoods in Toronto**

In [1]:
import pandas as pd
import numpy as np
import requests

Get the HTML page of Wiki, and using read_html we convert the html data into list of Data frame objects.

Remove cells which have borrow not assigned.

In [2]:
wiki = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
wiki_page = requests.get(wiki)

wiki_raw = pd.read_html(wiki_page.content, header = 0)[0]
df = wiki_raw[wiki_raw.Neighborhood != 'Not assigned']
df.reset_index(inplace = True)
df.head()

   index  ...                                 Neighborhood
0      2  ...                                    Parkwoods
1      3  ...                             Victoria Village
2      4  ...                    Regent Park, Harbourfront
3      5  ...             Lawrence Manor, Lawrence Heights
4      6  ...  Queen's Park, Ontario Provincial Government

[5 rows x 4 columns]

In [3]:
df.groupby(['Postal Code']).first()

             index  ...                                       Neighborhood
Postal Code         ...
M1B              9  ...                                     Malvern, Rouge
M1C             18  ...             Rouge Hill, Port Union, Highland Creek
M1E             27  ...                  Guildwood, Morningside, West Hill
M1G             36  ...                                             Woburn
M1H             45  ...                                          Cedarbrae
...            ...  ...                                                ...
M9N             98  ...                                             Weston
M9P            107  ...                                          Westmount
M9R            116  ...  Kingsview Village, St. Phillips, Martin Grove ...
M9V            143  ...  South Steeles, Silverstone, Humbergate, Jamest...
M9W            152  ...                Northwest, West Humber - Clairville

[103 rows x 3 columns]

The new Wiki link already has nieghborhood merged according to Postal Code and Borough

In [4]:
len(df['Postal Code'].unique())

103

In [5]:
df[df['Borough'] == 'Not assigned']

Empty DataFrame
Columns: [index, Postal Code, Borough, Neighborhood]
Index: []

In [6]:
df.shape

(103, 4)

# **Part 2**

In [7]:
pip install geocoder

Collecting geocoder
  Downloading https://files.pythonhosted.org/packages/4f/6b/13166c909ad2f2d76b929a4227c952630ebaf0d729f6317eb09cbceccbab/geocoder-1.38.1-py2.py3-none-any.whl (98kB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 102kB 2.4MB/s
Requirement already satisfied: future in /usr/local/lib/python3.6/dist-packages (from geocoder) (0.16.0)
Collecting ratelim
  Downloading https://files.pythonhosted.org/packages/f2/98/7e6d147fd16a10a5f821db6e25f192265d6ecca3d82957a4fdd592cad49c/ratelim-0.1.6-py2.py3-none-any.whl
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from geocoder) (2.23.0)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from geocoder) (1.12.0)
Requirement already satisfied: click in /usr/local/lib/python3.6/dist-packages (from geocoder) (7.1.2)
Requirement already satisfied: decorator in /usr/local/lib/python3.6/dist-packages (from ratelim->geocoder) (4.4.2)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests->geocoder) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->geocoder) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests->geocoder) (2020.6.20)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->geocoder) (2.10)
Installing collected packages: ratelim, geocoder
Successfully installed geocoder-1.38.1 ratelim-0.1.6

In [9]:
import geocoder

In [10]:
url = 'http://cocl.us/Geospatial_data'

In [11]:

df_geo = pd.read_csv(url)
df_geo.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

Checking dtypes of our columns

In [12]:
df_geo.dtypes

Postal Code     object
Latitude       float64
Longitude      float64
dtype: object

In [13]:
df_geo.dtypes

Postal Code     object
Latitude       float64
Longitude      float64
dtype: object

In [14]:
df.shape

(103, 4)

In [15]:
df_geo.shape

(103, 3)


Joining both df's and doing some cleaning

In [16]:
df = df.join(df_geo.set_index('Postal Code'), on='Postal Code')
df

     index Postal Code  ...   Latitude  Longitude
0        2         M3A  ...  43.753259 -79.329656
1        3         M4A  ...  43.725882 -79.315572
2        4         M5A  ...  43.654260 -79.360636
3        5         M6A  ...  43.718518 -79.464763
4        6         M7A  ...  43.662301 -79.389494
..     ...         ...  ...        ...        ...
98     160         M8X  ...  43.653654 -79.506944
99     165         M4Y  ...  43.665860 -79.383160
100    168         M7Y  ...  43.662744 -79.321558
101    169         M8Y  ...  43.636258 -79.498509
102    178         M8Z  ...  43.628841 -79.520999

[103 rows x 6 columns]

In [17]:
df = df.reset_index()

In [18]:
df.drop(['index'], axis = 'columns', inplace = True)
df = df.set_index('level_0')
df.head()

        Postal Code           Borough  ...   Latitude  Longitude
level_0                                ...
0               M3A        North York  ...  43.753259 -79.329656
1               M4A        North York  ...  43.725882 -79.315572
2               M5A  Downtown Toronto  ...  43.654260 -79.360636
3               M6A        North York  ...  43.718518 -79.464763
4               M7A  Downtown Toronto  ...  43.662301 -79.389494

[5 rows x 5 columns]

In [19]:
df = df.rename(index = {'level_0' : 'index'})
df.index.name = 'index'
df.head()

      Postal Code           Borough  ...   Latitude  Longitude
index                                ...
0             M3A        North York  ...  43.753259 -79.329656
1             M4A        North York  ...  43.725882 -79.315572
2             M5A  Downtown Toronto  ...  43.654260 -79.360636
3             M6A        North York  ...  43.718518 -79.464763
4             M7A  Downtown Toronto  ...  43.662301 -79.389494

[5 rows x 5 columns]

In [20]:
df.shape

(103, 5)